.blogTemplate{
	min-width: 200px;
	max-width: 30%;
	margin: 10px 5px;
	box-shadow: 1px 2px 7px $darkBlue;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h3{
		text-align: center;
	}

	.topBlogContainer{
		p{
			padding: 10px;

			overflow: hidden;
			text-overflow: ellipsis;
			height: 25px;
		}
	}

	.bottomBlogContainer{
		padding: 5px 10px 10px;
	}

	.bottomBlogContainer::after {
		content: "";
		clear: both;
		display: table;
	}

}

.imageContainer{
	padding: 0px 3px;
	overflow: hidden;
	max-height: 50%;

	img {
		width: 100%;
		max-height: 250px;
	}
}

.likeBox {
	padding-bottom: 5px;
	text-align: right;		
}


.postBtn {
	border: 1px solid $darkBlue;
	border-radius: 2px;
	color: white;
	outline: 0;
	cursor: pointer;
	margin-right: 10px;
	text-decoration: none;
	font-size: 12px;
}

.delBtn {
	background-color: $redBtn;
	padding: 5px 10px;
}

.editBtn {
	background-color: $greenBtn;
	padding: 5px 15px;
}

.infoBtn {
	float: right;
	background-color: $blueBtn;
	margin-right: 0px;
	padding: 5px;

	@media (max-width: 703px){
		margin-top: 5px;
		float: left;
	}
}